{
  "parser": "babel-eslint",
  "extends": "eslint-config-postcss",
  "rules": {
    "consistent-return": [0],
    "complexity":        [0],
    "space-before-function-paren": [0],
    "indent": [2, 2, {"SwitchCase": 1}],
    "max-len": [1, 1000],
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "space-unary-ops": [0],
    "no-extra-parens": [0],
    "no-bitwise": [0]
  },
  "env": {
    "mocha": true
  }
}
